.vs
Debug
Release
x64
Syntactic Analyzer.VC.db
Syntactic Analyzer.VC.VC.opendb
Syntactic Analyzer/Release
Syntactic Analyzer/Debug
Syntactic Analyzer/x64
*.obj
/syntactic-analyzer/project/vs2019/Release-lib
/syntactic-analyzer/project/vs2019/CParser/Release-lib
